<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Acme&family=Encode+Sans&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/login.css' />
  <link rel='stylesheet' href='/stylesheets/buttons.css' />
  <title>ePobuda</title>
</head>
<body>
  <div class="main-login-container">
    <h1 class="login-main-title">ePobuda</h1>
    <form action="/login" method="POST" class="login">
      <h2 class="login-title">Prijava</h2>
      <label for="username">Uporabniško ime</label>
      <input type="text" name="username" class="input-style" />
      <br>
      <label for="password">Geslo</label>
      <input type="password" name="password" class="input-style" />
      <br>
      <button type="submit" class="button-13">Prijava</button>
    </form>
    <h2 class="logreg-response"><%= response %></h2>
  </div>
</body>
</html>